<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 13f867083eec26e75e875e8b49d61469832d16aa
